{% extends "base.html" %}

{% block content %}
<h1 class="text-center my-5">Update User</h1>
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <form method="POST" class="form-group">
                        {% csrf_token %}

                        {% for field in form %}
                            <div class="form-group">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endblock %}