{% extends 'base.html' %}

<title>Home</title>
{% block container %}
    {% block content %}
<h4>Wilkommen bei Translations Service</h4>
<h6>ihrem Parten für das Übersetzen von Dokumenten aus dem Deutschen ins Chinesische und umgekehrt</h6>
<br>
Den Körper trainieren viele Menschen. Aber wer trainiert auch sein Gehirn? „Das Gehirn muss genauso trainiert werden
wie der Körper“, sagt Professor Siegfried Lehrl von der Universität Erlangen-Nürnberg.
Denn wissenschaftliche Untersuchungen haben gezeigt, dass wir die Leistungsfähigkeit unseres Gehirns um 10 bis 15%
steigern können, wenn wir einige Wochen lang täglich zehn Minuten unser Gehirn trainieren.
Besonders wichtig ist dieses Gehirn-Jogging für Menschen, die sich im Alltag geistig nur wenig anstrengen. Ein Beispiel
sind Krankenhauspatienten: Bereits nach wenigen Tagen beginnt ihr Intelligenzquotient zu sinken. Nach drei Wochen
Krankenhausaufenthalt kann er bereits 20% niedriger als gewöhnlich sein. Auch im Alter lässt die Intelligenz oft
nach. Dies geschieht nicht nur aus körperlichen Gründen, wie z.B. durch zunehmende Verkalkung[1], sondern auch deshalb,
weil das Gehirn zu wenig beansprucht oder geübt wird.Deshalb hat Professor Lehrl zusammen mit Bernd Fischer, dem
Leiter einer Rehabilitationsklinik, ein Programm für Gehirn-Jogging entwickelt. Seit einigen Jahren nun bieten
Krankenhäuser und Altenheime auf der Basis dieses Programms Übungen zum Training des Gehirns an – mit großem
Erfolg: So erreichte eine siebzigjährige Testperson mit Gehirn-Training das höchste geistige Niveau ihres
gesamten Lebens
    {% endblock %}
{% endblock %}
