    {% extends 'base.html' %}
<title>Contact</title>
{% block content %}
<div class="text-center">
    <h1 class="my-5">Translation Request</h1>
    <p> If you want an offer, please fill out this form.</p>
</div>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <form action="create" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" class="form-control" name="name" readonly id="name" placeholder="{{ user.first_name }} {{ user.last_name }}">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name="email" readonly class="form-control" id="email" placeholder="{{ user.email }}">
          </div>
          <div class="form-group">
            <label for="message">Your message</label>
            <textarea class="form-control" name="description" id="message" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="text">Your text for translation (file upload is also possible)</label>
            <textarea class="form-control" name="translationText" id="translationText" rows="5"></textarea>
          </div>
          <div class="file-upload-wrapper">
            <input type="file" id="myfile" name="myfile" class="file-upload" />
          </div>
          <input type="submit" class="btn btn-primary" value="Submit">
        </form>
      </div>
    </div>
</div>
{% endblock %}
